# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# typescript
*.tsbuildinfo
next-env.d.ts

# env / secretos (nunca versionar llaves de Xpotrack/couriers)
.env
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
